<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8" />
    <title>Topic name</title>
    <link rel="stylesheet" href="bcwst.css"/>

</head>

<body>
    <header>
        <iframe src = "../Global/header.html"></iframe>
    </header>

    <main>
        <div class="contctn">
            <h2 class="tpct">标题</h2>
            <div class="madv">
                <p>正文</p>
                <div class="imgdv">
                    <img src="../introduction.png"
                    alt="图片描述">
                    <h3>para</h3>
                    <div>
                        <p>说明文字</p>
                    </div>
                </div>
                <section><h1>ccc</h1></section>
                <h2>parame</h2>
            </div>
        </div>
        <div id="toc-container">
            <script src="index.js"></script>
            <div id="toc-title">目录</div>
            <div id="toc"></div>
          </div>
    </main>
    <iframe src="../Global/footer.html"></iframe>
</body>
</html>